@import '../../scss/common';
.ctn-three{
  @extend %fhw;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba($b, .4);
  transition: all .3s;
  filter: grayscale(0%);
  &.grey{ filter: grayscale(100%); }
  .controls{
    @include pa(0, "", "", 0);
    // width: 200px;
    margin: 15px;
    z-index: 2;
    text-align: right;
    overflow: hidden;
    .bg{ 
      position: relative;
      left: 25px;
      transition: height .3s;
      background: rgba($b, .6); 
      height: 385px;
      width: 160px;
      &.closed{ 
        height: 35px; 
        .inner{ height: 0; }
      }
    }
    .inner{
      // outline: 1px solid yellow;
      overflow: hidden;
      height: 350px;
      transition: height .3s;
      button{ 
        margin: 5px; 
        &.plh{ visibility: hidden; }
      }
    }
    .item{
      padding: 5px;
      &.center{ text-align: center; }
      &.fs{ padding-right: 0; }
      button.hidden{ display: none; }
    }
    .mat-label{
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 10px;
    }
  }
  .info{
    font-size: 28px;
    padding: 20px;
    mix-blend-mode: difference;
    @include pa(0, 0);
    .inner{ font-size: 22px; }
  }
  .desc{
    background: rgba($b, .7);
    padding: 10px;
    font-size: 18px;
    @include pa("", 20, 20, "");
    .inner{ font-size: 18px; }
  }
  .info, .desc{
    z-index: 2;
    opacity: 0;
    line-height: 35px;
    .inner{ font-style: italic; }
  }
}
.css3d{
  @include pa(0, 0);
  // height: 1px;
  // width: auto;
}

#ctn-about{
  // @include pa(30, "", "", 30);
  // z-index: 1;
  background: rgba($b, .8);
  padding: 10px;
  border-radius: 2px;
  color: $w;
  transition: all .3s;
  margin-top: 5px;
  h2{ 
    margin: 0; 
    font-weight: 400; 
    font-size: 18px;
  }
  div{
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 10px;
    a{ color: $w; &:hover{ text-decoration: none; } }
    & ~ a{ text-decoration: none; }
  }
  img{ 
    height: 25px; 
    margin-right: 10px;
    opacity: .8;
    transition: all .3s;
    &.last{ margin-right: 0; }
    &:hover{
      opacity: 1;
      transform: rotate(10deg) scale(1.25);
    }
  }
}
