<div class="ctn-three" #rendererContainer></div>
<div id="ctn-css3D">
  <img class="css3d" id="bill1" src="assets/gifs/billboards/adidas1.gif" alt=""/>
  <img class="css3d" id="bill2" src="assets/gifs/billboards/nike1.gif" alt=""/>
  <img class="css3d" id="bill3" src="assets/gifs/billboards/coke1.gif" alt=""/>
  <img class="css3d" id="bill4" src="assets/gifs/billboards/converse.gif" alt=""/>
  <img class="css3d" id="bill5" src="assets/gifs/billboards/north-face.gif" alt=""/>
  <img class="css3d" id="bill6" src="assets/gifs/billboards/nike2.gif" alt=""/>
  <img class="css3d" id="bill7" src="assets/gifs/billboards/kfc1.gif" alt=""/>
  <img class="css3d" id="bill8" src="assets/gifs/billboards/adidas2.gif" alt=""/>
  <img class="css3d" id="bill9" src="assets/gifs/billboards/zeta.gif" alt=""/>
  
  <img class="css3d" id="buil1" src="assets/gifs/buildings/building1.gif" alt=""/>
  <img class="css3d" id="buil2" src="assets/gifs/buildings/building2.gif" alt=""/>
  <img class="css3d" id="buil3" src="assets/gifs/buildings/building3.gif" alt=""/>
  <!-- <img class="css3d" id="buil4" src="assets/gifs/buildings/building4.gif" alt=""/> -->
  <!-- <img class="css3d" id="buil2" src="assets/gifs/Vertical-Banner-PlaceTech.gif" alt=""/> -->
</div>