<!--suppress ALL -->
<div class="ctn-three" #rendererContainer [ngClass]="{'grey': mapOpts.greyScale}">
  <div class="controls">
    <div class="item fs">
      <button mat-mini-fab color="warn" 
        matTooltip="Plein écran | Full Screen" 
        [matTooltipShowDelay]="100"
        [matTooltipPosition]="'left'"
        (click)="toggleFullscreen('open')"
        [ngClass]="{'hidden': mapOpts.isFS}"
        >
        <mat-icon>zoom_out_map</mat-icon>
      </button>
      <button mat-mini-fab color="warn" 
        matTooltip="Sortir | Exit" 
        [matTooltipShowDelay]="100"
        [matTooltipPosition]="'left'"
        (click)="toggleFullscreen('')"
        [ngClass]="{'hidden': !mapOpts.isFS}"
        >
        <mat-icon>close_fullscreen</mat-icon>
      </button>
    </div>
    <div class="bg" [ngClass]="{'closed': !mapOpts.toggleControls}">
      <div class="item">
        <mat-label class="mat-label">Toggle Controls</mat-label>
        <mat-slide-toggle color="primary" [(ngModel)]="mapOpts.toggleControls"></mat-slide-toggle>
      </div>
      <div class="inner">
        <div class="item">
          <mat-label class="mat-label">Rotate Scene</mat-label>
          <mat-slide-toggle color="warn" [(ngModel)]="mapOpts.rotateScene"></mat-slide-toggle>
        </div>
        <div class="item">
          <mat-label class="mat-label">Greyscale</mat-label>
          <mat-slide-toggle color="accent" [(ngModel)]="mapOpts.greyScale"></mat-slide-toggle>
        </div>
        <div class="item center">
          <button mat-mini-fab color="warn" 
            matTooltip="Tourner à gauche | Rotate Left"
            [matTooltipShowDelay]="100"
            [matTooltipPosition]="'left'"
            (click)="navigateCamera('rotate', 'left')"
            >
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-mini-fab color="primary" 
            matTooltip="Tourner à droite | Rotate Right"
            [matTooltipShowDelay]="100"
            [matTooltipPosition]="'right'"
            (click)="navigateCamera('rotate', 'right')"
            >
            <mat-icon>redo</mat-icon>
          </button>
        </div>
        <div class="item center">
          <button mat-mini-fab color="warn" 
            matTooltip="Zoom avant | Zoom In"
            [matTooltipShowDelay]="100"
            [matTooltipPosition]="'left'"
            (click)="navigateCamera('zoom', 'in')"
            >
            <mat-icon>zoom_in</mat-icon>
          </button>
          <button mat-mini-fab color="primary" 
            matTooltip="Zoom arrière | Zoom Out"
            [matTooltipShowDelay]="100"
            [matTooltipPosition]="'right'"
            (click)="navigateCamera('zoom', 'out')"
            >
            <mat-icon>zoom_out</mat-icon>
          </button>
        </div>
        <div class="item">
          <div>
            <button mat-mini-fab color="warn" matTooltip="Nord | North" 
              [matTooltipShowDelay]="100"
              [matTooltipPosition]="'above'"
              (click)="navigateCamera('position', 'NORTH')"
              >
              <mat-icon>expand_less</mat-icon>
            </button>
            <button class="plh" mat-mini-fab></button>
          </div>
          <div>
            <button mat-mini-fab color="warn" matTooltip="Ouest | West" 
              (click)="navigateCamera('position', 'WEST')"
              [matTooltipShowDelay]="100"
              [matTooltipPosition]="'left'"
              >
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" matTooltip="Haut | Top" 
              (click)="navigateCamera('position', 'TOP')"
              [matTooltipShowDelay]="100"
              >
              <mat-icon>my_location</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Est | East" 
              (click)="navigateCamera('position', 'EAST')"
              [matTooltipShowDelay]="100"
              [matTooltipPosition]="'right'"
              >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <div>
            <button mat-mini-fab color="warn" matTooltip="Sud | South" 
              (click)="navigateCamera('position', 'SOUTH')"
              [matTooltipShowDelay]="100"
              [matTooltipPosition]="'below'"
              >
              <mat-icon>expand_more</mat-icon>
            </button>
            <button class="plh" mat-mini-fab></button>
          </div>
        </div>
      </div>
    </div>
    <div id="ctn-about">
      <h2>Villes de Publicités</h2>
      <div>by&nbsp;
        <a href="http://envisagecyberart.in" target="_blank">Anurag Srivastava</a><br />
        <a href="http://envisagecyberart.in/projects/threejs-experiments" target="_blank">More 3D projects</a>
      </div>
      <a href="https://www.upwork.com/o/profiles/users/~01d929751d145a05ea/" target="_blank">
        <img src="assets/images/upwork.png" alt="" />
      </a>
      <a href="https://www.guru.com/freelancers/anurag-srivastava-27" target="_blank">
        <img src="assets/images/guru.png" alt="" />
      </a>
      <a href="mailto:anurag.131092@gmail.com&Subject=New Work Proposal">
        <img src="assets/images/gmail.png" alt="" />
      </a>
      <a href="https://stackoverflow.com/users/7867822/anurag-srivastava" target="_blank">
        <img src="assets/images/so.png" alt="" />
      </a>
      <a href="https://github.com/anuragsr" target="_blank">
        <img class="last" src="assets/images/github.png" alt="" />
      </a>
    </div>
  </div>
  <div class="info">
    {{ location.name }}
    <div class="inner">{{ location.nameEn }}</div>
  </div>
  <div class="desc">
    {{ location.desc }}
    <div class="inner">{{ location.descEn }}</div>
  </div>
</div>
<div id="ctn-css3D">
  <img class="css3d" id="bill1" src="assets/gifs/billboards/adidas1.gif" alt=""/>
  <img class="css3d" id="bill2" src="assets/gifs/billboards/nike1.gif" alt=""/>
  <img class="css3d" id="bill3" src="assets/gifs/billboards/coke1.gif" alt=""/>
  <img class="css3d" id="bill4" src="assets/gifs/billboards/converse.gif" alt=""/>
  <img class="css3d" id="bill5" src="assets/gifs/billboards/north-face.gif" alt=""/>
  <img class="css3d" id="bill6" src="assets/gifs/billboards/nike2.gif" alt=""/>
  <img class="css3d" id="bill7" src="assets/gifs/billboards/kfc1.gif" alt=""/>
  <img class="css3d" id="bill8" src="assets/gifs/billboards/adidas2.gif" alt=""/>
  <img class="css3d" id="bill9" src="assets/gifs/billboards/zeta.gif" alt=""/>

  <img class="css3d" id="buil1" src="assets/gifs/buildings/building1.gif" alt=""/>
  <img class="css3d" id="buil2" src="assets/gifs/buildings/building2.gif" alt=""/>
  <img class="css3d" id="buil3" src="assets/gifs/buildings/building3.gif" alt=""/>
  <img class="css3d" id="buil4" src="assets/gifs/buildings/building4.gif" alt=""/>
  <img class="css3d" id="buil5" src="assets/gifs/buildings/building5.gif" alt=""/>
  <img class="css3d" id="buil6" src="assets/gifs/buildings/building6.gif" alt=""/>
  <img class="css3d" id="buil7" src="assets/gifs/buildings/building7.gif" alt=""/>
  <img class="css3d" id="buil8" src="assets/gifs/buildings/building8.gif" alt=""/>
  <img class="css3d" id="buil9" src="assets/gifs/buildings/building9.gif" alt=""/>
  <img class="css3d" id="buil10" src="assets/gifs/buildings/building10.gif" alt=""/>
  <img class="css3d" id="buil11" src="assets/gifs/buildings/building11.gif" alt=""/>
  <img class="css3d" id="buil12" src="assets/gifs/buildings/building12.gif" alt=""/>
  <img class="css3d" id="buil13" src="assets/gifs/buildings/building13.gif" alt=""/>
  <img class="css3d" id="buil14" src="assets/gifs/buildings/building14.gif" alt=""/>
  <img class="css3d" id="buil15" src="assets/gifs/buildings/building15.gif" alt=""/>
</div>
