<div class="ctn-three" #rendererContainer></div>
<div id="ctn-css3D">
  <img class="css3d" id="bill1" src="assets/gifs/adidas1.gif" alt=""/>
  <img class="css3d" id="bill2" src="assets/gifs/nike1.gif" alt=""/>
  <img class="css3d" id="bill3" src="assets/gifs/coke1.gif" alt=""/>
  <img class="css3d" id="bill4" src="assets/gifs/converse.gif" alt=""/>
  <img class="css3d" id="bill5" src="assets/gifs/north-face.gif" alt=""/>
  <img class="css3d" id="bill6" src="assets/gifs/nike2.gif" alt=""/>
  <img class="css3d" id="bill7" src="assets/gifs/kfc1.gif" alt=""/>
  <img class="css3d" id="bill8" src="assets/gifs/adidas2.gif" alt=""/>
  <img class="css3d" id="bill9" src="assets/gifs/zeta.gif" alt=""/>
  <!-- 
  <img class="css3d" id="bill3" src="assets/gifs/baradiy-skyscraper-black.gif" alt=""/>
  <img class="css3d" id="bill4" src="assets/gifs/Vertical-Banner-PlaceTech.gif" alt=""/> -->
</div>