<div class="ctn-carousel">
  <div class="carousel-single" 
    *ngFor="let location of carousels; let i = index;"        
    >
    <div class="overlay">
      <div class="ctn-chip">
        <mat-chip-list>
          <mat-chip>
            <div>{{ location.name }}</div>
            <div class="tr">{{ location.nameEn }}</div>
          </mat-chip>
        </mat-chip-list>
      </div>
      <!-- <button 
        mat-fab color="warn"
        matTooltip="Galerie | Gallery"
        [matTooltipShowDelay]="500"
        (click)="selectLocation(location, 'gallery')"
        >
        <mat-icon>collections</mat-icon><br/>
      </button> -->
      <button 
        [color]="i % 2 === 0 ? 'warn' : 'primary'"
        mat-fab 
        matTooltip="Naviguer | Navigate"
        [matTooltipShowDelay]="500"
        (click)="selectLocation(location, 'map')"
        >
        <mat-icon>near_me</mat-icon><br/>
      </button>
    </div>
    <div class="ctn-img">
      <img [src]="location.images[0].url" alt="Random">
    </div>
  </div>
</div>