@import '../../scss/common';
.mat-tooltip { font-size: 12px; }
.tr{
  font-size: 12px; font-style: italic;
  font-weight: 100;
}
.ctn-carousel{
  padding: 10px;
  .carousel-single{
    // @extend %cp;
    position: relative;
    color: $w;
    height: 12vw;
    margin-bottom: 20px;
    // outline: 1px solid salmon;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);
    &:last-of-type{
      margin-bottom: 0px;
    }
    .ctn-chip{
      @include pa(10, 10);
      z-index: 2;
      .mat-standard-chip{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .overlay{
      // @include pa(0, 0);
      @extend %fhw;
      @extend %oh;
      @extend %j-c;
      position: relative;
      z-index: 1;
      background: rgba($b, 0);
      transition: background .7s;
      button{
        position: relative;
        top: 1vw;
        opacity: 0;
        transform: scale(0);
        transition: all .25s ease-out;
        &:last-of-type{
          margin-left: 25px;
          transition-delay: .1s;
        }
      }
      &:hover, &.active{
        background: rgba($b, .6);
        button{
          opacity: 1;
          transform: scale(1);
        }
        +.ctn-img img{
          transform: translateX(-5%);
        }
      }
    }
    .ctn-img{
      @extend %fhw;
      @extend %oh;
      @include pa(0, 0);
      z-index: 0;
      img{
        transition: transform .4s ease-out;
        transform: translateX(0%);
      }
    }
    .mat-button-wrapper{
      font-size: 16px;
    }
  }
}
