<div id="overlay" class="">
  <!-- <img class="loader" src="assets/images/loading.gif" /> -->
  <div>
    <h1>3D rendering of an Industrial Siteplan</h1>
  </div>
  <div class="flex-x intro-parent">
    <div>
      <div class="flex-x item-image">
        <img class="icon" src="assets/images/browsers.png" />
        <h2>Works best in Google Chrome / Microsoft Edge</h2>
      </div>
      <div class="flex-x item-image">
        <img class="icon" src="assets/images/wheel.png" />
        <h2>Use mouse wheel to zoom in / out</h2>
      </div>
    </div>
    <div>
      <div class="flex-x item-image">
        <img class="icon" src="assets/images/drag.png" />
        <h2>Click and drag mouse to rotate the scene</h2>
      </div>
      <div class="flex-x item-image">
        <img class="icon" src="assets/images/settings.png" />
        <h2>Try out various configurations</h2>
      </div>
    </div>
  </div>
  <!-- onClick={()=> {
    document.getElementById("overlay").classList.add("closed")
  }} -->
  <button id="enter" class="button smoke">
    ENTER
    <!-- <div><span>E</span><span>n</span><span>t</span><span>e</span><span>r</span></div> -->
  </button>
</div>
<div class="outer">
  <mat-grid-list cols="6" rowHeight="100vh">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-location [carousels]="carouselsLeft"></app-location>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="ctn-three-outer">
      <app-three-scene></app-three-scene>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-location [carousels]="carouselsRight"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<dialog-carousel></dialog-carousel>
