<div class="outer">
  <mat-grid-list cols="6" rowHeight="100vh">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!-- <app-location [carousels]="carouselsLeft"></app-location> -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="ctn-three-outer">
      <app-three-scene></app-three-scene>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!-- <app-location [carousels]="carouselsRight"></app-location> -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
<dialog-carousel></dialog-carousel>
