<div id="overlay" class="d-flex flex-y">
  <div class="bg"></div>
  <h1>Ville de Publicités</h1>
  <p><i>City of Advertisements</i></p>
  <div class="flex-x intro-parent">
    <p>
      <b>Les publicités nous entourent. Des bâtiments aux panneaux. À partir des médias, imprimez sur le Web.      </b>
      <br/><i>Advertisements surround us. From buildings, to hoardings. From media, print to the web.</i>
    </p>
    <p>
      <b>Il s'agit d'une visualisation d'une ville ornée de publicités et de publicité à chaque coin de rue.</b>
      <br/><i>This is a visualization of a city adorned with advertisements and publicity in every corner.</i>      
    </p>
    <p>
      <b>Vous pouvez naviguer à travers ses différents emplacements et explorer les publicités qu'ils contiennent.</b>
      <br/><i>You can navigate through its various locations and explore the advertisements in them.</i>
    </p>
    <p>
      <b>Construit avec Angular 11 et three.js</b>
      <br/><i>Built using Angular 11 and three.js</i>
    </p>
    <div class="flex-x item-image">
      <span class="material-icons">3d_rotation</span>
      <b>Utilisez les commandes de la carte pour naviguer dans la vue</b>&nbsp;
      <i>Use map controls to navigate the view</i>
    </div>
    <div class="flex-x item-image">
      <span class="material-icons">near_me</span>
      <b>Cliquez sur les boutons de navigation sur les vignettes d'emplacement</b>&nbsp;
      <i>Click navigation buttons on the location thumbnails</i>
    </div>
    <div class="flex-x item-image">
      <img class="icon" src="assets/images/browsers.png" />
      <b>Fonctionne mieux dans Google Chrome / Microsoft Edge</b>&nbsp;
      <i>Works best in Google Chrome / Microsoft Edge</i>
    </div>
  </div>
  <button id="enter" (click)="enterScene()" mat-raised-button color="warn">ENTER</button>
</div>
<div class="outer">
  <mat-grid-list cols="6" rowHeight="100vh">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-location [carousels]="carouselsLeft"></app-location>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="ctn-three-outer">
      <app-three-scene></app-three-scene>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-location [carousels]="carouselsRight"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<dialog-carousel></dialog-carousel>
