/* You can add global styles to this file, and also import other style files */
@import './src/scss/common';
@import '~nprogress/nprogress.css';

*{ 
  box-sizing: border-box; 
  &:focus{ outline: none!important; }
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $w;
  @extend %oh;
}

.mobile-only{
	@include media('>mob') { display: none; }	
}

.desktop-only{
	@include media('<=mob') { display: none; }
}


// Loading screen
#nprogress{
  position: relative;
  z-index: 4;
  .bar{
    background: $acc; height: 5px;
  }
  .peg{
    box-shadow: 0 0 10px $acc, 0 0 5px $acc;
  }
  .spinner-icon{
    border-top-color: $acc;
    border-left-color: $acc;
  }
}
#overlay{
  // display: none;
  position: fixed;
  height: 100%; width: 100%; 
  left: 0; top: 0; z-index: 3;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  background-color: $bg-l;
  &.closed{ opacity: 0; visibility: hidden; z-index: 0; }
  .bg{
    position: absolute;
    @extend %fhw;
    background-image: url(assets/gifs/city-bg.gif);
    background-size: cover;
    opacity: .15;
  }
  .loader{ 
    height: 200px; 
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba($b, .3);
  }
  h1{ 
    font-size: 3vw; 
    color: $b; 
    +p{ font-size: 24px; color: $b; margin-bottom: 25px; }
  }
  .intro-parent{
    position: relative;
    left: 1.25vw;
    justify-content: center;
    align-items: center;
    p{ 
      opacity: 0; 
      transform: translateX(3vw);
    }
    b, i{ color: $b; }
    .item-image{
      opacity: 0;
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      span{ color: $b; margin-right: 5px; }
      .icon{ height: 32px; margin-right: 5px; }
    }
  }
  #enter{
    opacity: 0;
  }
}