/* You can add global styles to this file, and also import other style files */
@import './src/scss/common';

*{ 
  box-sizing: border-box; 
  &:focus{ outline: none!important; }
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $w;
  @extend %oh;
}

.mobile-only{
	@include media('>mob') { display: none; }	
}

.desktop-only{
	@include media('<=mob') { display: none; }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
